

.ab-us {
  text-align: left;
}
.ab-us .title {
  font-size: 70px;
}

body {
  background-image: url(../images/top.png);
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  z-index: 1;
  background-color: red;
}
body a {
  text-decoration: none;
  color: #000;
}
body p {
  font-family: "Noto Sans JP";
}
body .grid {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
body .grid span {
  border-right: 1px solid #ebebeb;
  height: 85%;
  width: 17%;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  text-align: center;
}

.loader .txt {
  font-size: 45px;
  font-weight: bold;
  color: rgb(30, 50, 93);
  margin: -40.5px;
  position: relative;
  z-index: 1;
}

span {
  color: #119bad;
}

.border-load {
  position: relative;
  font-size: 18px;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 0;
}

.border-load::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: solid 2px #119bad;
  -webkit-animation: border_anim 1.8s linear forwards;
          animation: border_anim 1.8s linear forwards;
}

@-webkit-keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
header .rogo {
  margin: 38px 0 0 66.5px;
}
header .menu-list {
  display: flex;
  margin-top: 55px;
}
header .menu-list .menu {
  margin-right: 49px;
}

.fv {
  margin-top: 246.5px;
  text-align: center;
}
.fv .catch-en {
  font-size: 70px;
  font-weight: bold;
}
.fv .catch-en span {
  color: #119bad;
}
.fv .catch-ja {
  font-size: 26px;
  font-weight: bold;
}
.fv .boder {
  border: 1px solid #000000;
  width: 121px;
  margin: auto;
  margin-top: 100px;
  -webkit-transform: rotate(90deg);
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}

main {
  width: 1100px;
  margin: auto;
  position: relative;
}

.ab-us {
  text-align: center;
  margin-top: 240px;
}
.ab-us .text {
  margin-top: 5px;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 5px;
}
.ab-us span {
  font-size: 24px;
}
.ab-us .ab-text {
  display: flex;
  width: 1000px;
}
.ab-us .button-box {
  text-align: end;
  margin-right: 141px;
}
.ab-us .button-box button {
  margin-top: 53px;
  padding: 23.5px 85.5px;
  border-radius: 49px;
  font-weight: bold;
}
.ab-us .button-box button:hover,
.ab-us .button-box p:hover {
  color: #ffffff;
  background-color: #119bad;
  transition: 0.3s;
}

.ser {
  margin-top: 162px;
}
.ser .border {
  position: relative;
  font-size: 18px;
  margin-top: 102px;
}
.ser .border:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: solid 1px #ebebeb;
  -webkit-animation: border_anim 3s linear forwards;
          animation: border_anim 3s linear forwards;
}
@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.ser-group {
  display: flex;
}
.ser-group .ser-block {
  margin-left: 50px;
}
.ser-group .ser-title {
  margin-top: 56.5px;
  font-size: 24px;
}
.ser-group .ser-text {
  margin-top: 53px;
  line-height: 25px;
}
.ser-group .ser-text.a {
  margin-top: 33px;
}
.ser-group .hash {
  margin-top: 37px;
}

.com {
  height: 743px;
  margin-top: 150px;
  display: flex;
}
.com img {
  width: 338px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.com .com-list {
  width: 743px;
  padding-left: 125px;
  background-color: #ebebeb;
}
.com .com-list h2 {
  margin-top: 112px;
  text-align: left;
}
.com .com-list .com-menu .com-section {
  display: flex;
  margin-top: 47px;
}
.com .com-list .com-menu .com-item {
  margin-right: 63px;
  width: 119px;
  padding-left: 10px;
  background-color: #ffffff;
}
.com .com-list .com-menu p {
  margin-top: 0;
  padding: 5px 0 5px;
}

.link {
  justify-content: space-around;
  margin-top: 162px;
  display: flex;
}
.link .link-list {
  top: 10px;
}
.link .link-list .link-box {
  margin-top: 53px;
  position: relative;
}
.link .link-list .link-box img {
  margin-bottom: -6px;
}
.link .link-list .link-box div {
  display: flex;
  margin-top: 0;
  padding: 15px 0 15px 0;
  background-color: #ebebeb;
  justify-content: flex-end;
}
.link .link-list .link-box .read-more {
  text-align: right;
  margin-right: 29px;
}
.link .link-list .link-box .read-more.a {
  font-weight: bold;
}
.link .link-list .rotate {
  margin-top: -11px;
  margin-left: -79px;
  margin-bottom: -9px;
  -webkit-transform: rotate(-10deg);
  position: relative;
}

footer {
  margin-top: 150px;
  height: 100px;
  background-color: #119bad;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
footer .footer-text {
  margin: 50px 60px;
}
/*# sourceMappingURL=style.css.map */